<nav class="navbar navbar-dark bg-dark">
  <div class="container">

    <a class="navbar-brand">
      <img class="homeIcon" src="assets/sticky-note.png" routerLink="">
       RR To-Do
    </a>
    <div class="navbar navbar-dark bg-dark" id="navbarNavAltMarkup">
      <div class="nav nav-pills">
        <a class="nav-link active" routerLink="/admin/create" aria-current="page" href="#">Create new</a>
        <a class="nav-link active" routerLink="/admin" href="#">Admin</a>
        
      </div>
    </div>

    

  </div>
</nav>

<router-outlet></router-outlet>

