<div class="container text-center">
<br>
</div>

<div class="container text-center">
    <div class="row align-items-start">
      <div class="col text-start">
        <div class="btn-group">
            <button class="btn btn-secondary"
                *ngFor="let category of categories"
                (click)='changeFirstCol(category)'>
                {{ category }}
            </button>
        </div>
        <div>
          <br>
            <div [ngClass]="{'active-note': note.active === true,'inactive-product': note.active === false}" class="col array trim text-start" *ngFor="let note of array1">
                <div (click)="changeNoteActive(note)" class="align-middle">
                    <div class="">Priority: {{ note.priority }}</div><br>
                    <div class="small muted">Category: {{ note.category }}</div><br>
                    <div><h4>Header: {{ note.header }}</h4>  </div> <br>
                    <button routerLink="/note/{{note.id}}" class="btn btn-outline-secondary btRight">Expand</button>
                </div>
            </div>
        </div>
      </div>
      <div class="col text-start">
        <div class="btn-group">
            <button class="btn btn-secondary"
                *ngFor="let category of categories"
                (click)='changeSecondCol(category)'>
                {{ category }}
            </button>
        </div>
        <div>
          <br>
            <div [ngClass]="{'active-note': note.active === true,'inactive-product': note.active === false}" class="col array trim text-start" *ngFor="let note of array2">
                <div (click)="changeNoteActive(note)" class="align-middle">
                    <div class="">Priority: {{ note.priority }}</div><br>
                    <div class="small muted">Category: {{ note.category }}</div><br>
                    <div><h4>Header: {{ note.header }}</h4>  </div> <br>
                    <button routerLink="/note/{{note.id}}" class="btn btn-outline-secondary btRight">Expand</button>
                </div>
            </div>
        </div>
      </div>
      <div class="col text-start">
        <div class="btn-group">
            <button class="btn btn-secondary "
                *ngFor="let category of categories"
                (click)='changeThirdCol(category)'>
                {{ category }}
            </button>
        </div>
        <div>
          <br>
            <div [ngClass]="{'active-note': note.active === true,'inactive-product': note.active === false}" class="col array trim text-start" *ngFor="let note of array3">
                <div (click)="changeNoteActive(note)" class="align-middle">
                    <div class="">Priority: {{ note.priority }}</div><br>
                    <div class="small muted">Category: {{ note.category }}</div><br>
                    <div><h4>Header: {{ note.header }}</h4>  </div> <br>
                    <button routerLink="/note/{{note.id}}" class="btn btn-outline-secondary btRight">Expand</button>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>

